{{!-- keep all the data above the bottom nabvar --}}
<div class="bottomMargin">

</div>
<div class="bottomNav" style="height: 5rem;">
    <a href="/main"><i class="fas fa-lg fa-home"> Home</i></a>
    <a href="/history"><i class="fas fa-lg fa-history"> History</i></a>
    <a href="/upload"><i class="fas fa-lg fa-plus-square"> Upload</i></a>
</div>