{{!-- keep all the data above the bottom nabvar --}}
<div class="bottomMargin">

</div>
<div class="bottomNav" style="height: 5rem;">
    <a href="/main"><i class="fas fa-lg fa-home"></i> Home</a>
    <a href="/history"><i class="fas fa-lg fa-history"></i> History</a>
    <a href="/upload"><i class="fas fa-lg fa-plus-square"></i> Upload</a>
</div>