<nav style="margin-bottom: 0px;" class="navbar fixed-top topNav navbar-light bg-light">
		<a class="dconstruct">
			<img src="../source/dconstruct-logo.jpg" id="s-logo"/>
			<a href="/profile"><i class="profile fas fa-user fa-lg"></i></a>
			<i class="profile2 fas fa-star fa-lg"> 3</i>
		</a>
</nav>
{{!-- keep all the data above the bottom nabvar --}}
<div class="topMargin">

</div>