<nav style="margin-bottom: 0px;" class="navbar fixed-top topNav navbar-light bg-light">
		<a class="dconstruct"  href="#" >
			<img src="source/D.png" id="s-logo" width="30" height="30"/>
			<a href="/profile"><i class="profile fas fa-user fa-lg"></i></a>
			<i class="profile2 fas fa-star fa-lg"> 3</i>
		</a>
</nav>