<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> facebook}}
	<script src="js/facebook.js"></script>
</head>
<body>
    <div class="container" id="login">
        <img src="source/dconstruct-name.jpg" id="logo"/>
        <h4 id="subwelcome">- Under Construction -</h4>

        <h6>Sorry. This page is still under construction. Please go ahead and press the log in button.</h6>


        <div class="topper"></div>

        <form class="myForm text-center" id="loginForm" role="form" method="get" action="/main" >
            <input type="submit" id="submitBtn" class="btn myBtn" value="Login"></input>
        </form>

    </div>
</div>
</body>
</html>