<html>
<head>
	<link href="css/index.css" rel="stylesheet"></link>
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dconstruct</title>
</head>
<body>
<div class="container">
	<div class="topNav">
		<div class="heading">
			<h1>DCONSTRUCT</h1>
		</div>
		<div class="setting">
			<i class="fas fa-cog"></i>
		</div>
	</div>

    <h1 class="title">Give Feedback</h1>

	<div>
		<img class="works" src="source/default_img.jpg"></img>
	</div>
    <div class="questionContainer">
        <form>
            How is my color grading?<br>
            <input type="text">
            <br>
            What do you like about this work the most?<br>
            <input type="text">
            <br>
            One thing you think could be better?<br>
            <input type="text">
            <br>
            <br>
            <input id="submit" type="submit" value="Submit">
        </form> 
    </div>

	<div class="bottomNav">
		<div class="buttonContainer2">
			{{!-- TODO: update the "#"s so that they link to dummy pages--}}
			<a href="#"><i class="fas fa-history"></i></a>
			<a href="#"><i class="far fa-plus-square"></i></a>
			<a href="#"><i class="fas fa-th"></i></a>
		</div>
	</div>
	
</div>
</body>
</html>
