<html>
<head>
	<link href="css/index.css" rel="stylesheet"></link>
	<link href="css/history.css" rel="stylesheet"></link>
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dconstruct</title>
</head>
<body>
<div class="container">
	<div class="topNav">
		<div class="heading">
			<a href="/"><h1>DCONSTRUCT</h1></a>
		</div>
		<div class="setting">
			<i class="fas fa-cog"></i>
		</div>
	</div>

    <h1 class="title">Feedback History</h1>

	<div class=subBody>
		<div class="feedbackType">
			<h3 class="category">Received Feedback</h3>
			<p> You do not have feedback yet. 
				<br>Upload content to receive feedback.
			</p>
			<a href="/upload"><i class="far fa-plus-square"></i></a>
		</div>

		<div class="feedbackType">
			<h3 class="category">Given Feedback</h3>
			<p> You have not given feedback yet.
				<br>Give feedback to gain stars.
			</p>
			<a href="/givefeedback"><i class="fas fa-edit"></i></a>
		</div>
	</div>



	<!-- <div>
		<img class="works" src="source/default_img.jpg"></img>
	</div> -->

	<div class="bottomNav">
		<div class="buttonContainer2">
			<a href="/history"><i class="fas fa-history"></i></a>
			<a href="/upload"><i class="far fa-plus-square"></i></a>
			<a href="/profile"><i class="fas fa-th"></i></a>
		</div>
	</div>
	
</div>
</body>
</html>
