<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet"></link>
	<link href="css/profile.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> facebook}}
	<script src="js/facebook.js"></script>
</head>
<body>
{{!-- <div id="fb-root"></div> --}}
{{!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=772757316541625&autoLogAppEvents=1"></script> --}}
<div class="container" id="login">
    <img src="source/dconstruct-name.jpg" id="logo"/>

    
    <h4 id="subwelcome">Share your content and grow from great feedback!</h4>
    

    <form class="myForm text-center" id="loginForm" role="form" method="get" action="/main" >
	  <div class="form-group">
	    <label for="textResponse1">Account</label>
	    <input class="form-control myInput" id="account" rows="2" name="account"></input>
	  </div>
	  <div class="form-group">
	    <label for="textResponse2">Password</label>
	    <input class="form-control myInput" id="password" rows="2" name="password"></input>
	  </div>
		<input type="submit" id="submitBtn" class="btn myBtn" value="Login"></input>
	</form>
    

	<hr/>
    <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="checkLoginState();"></div>
	
	<div class="topper"></div>
	<p>Do not have an account? <a href="/createaccount">Sign up here</a></p>


</div>
</body>
</html>