<html>
<head>
	<link href="css/main.css" rel="stylesheet"></link>
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dconstruct</title>
</head>
<body>
<div class="container">
	<div class="topNav">
		<div class="dconstruct">
			<img src="source/D.png" id="s-logo"/>
		</div>
		<div class="profile">
			<i class="fas fa-user fa-lg"></i>
		</div>
	</div>

	<div class="topInfo">
		
	</div>

	<div>
		<img class="works" src="source/default_img.jpg"></img>
	</div>


	<div class="buttonContainer">
		<a href="/givefeedback">Give Feedback</a>
		<button href="">Skip</button>
		<p>You have 3 skips left.</p>
	</div>


	<div class="footer">
		
	</div>


	<div class="starbalance">
		<div class="starcenter">
			<div class="left">
				<i class="fas fa-star fa-lg"></i>
				<p>Star Balance</p>
			</div>
			<div class="right">
				<p>3</p>
			</div>
		</div>
	</div>
	<div class="bottomNav">
		<a href="/main"><i class="fas fa-home fa-lg"></i></a>
		<a href="/history"><i class="fas fa-history fa-lg"></i></a>
		<a href="/upload"><i class="far fa-plus-square fa-lg"></i></a>

	</div>

</div>
</body>
</html>
