<html>
<head>
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/main.js"></script>
	<title>Dconstruct</title>
</head>
<body>
<div>
	<nav class="navbar fixed-top topNav navbar-light bg-light">
		<a class="dconstruct"  href="#" >
			<img src="source/D.png" id="s-logo" width="30" height="30"/>
			<a href="#"><i class="profile fas fa-user fa-lg"></i></a>
			<i class="profile2 fas fa-star fa-lg"> 3</i>
		</a>
	</nav>

	<div class="dropdown text-center">
	  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
	  <span class="caret"></span></button>
	  <ul class="dropdown-menu dropdown-menu-center">
	    <li><a href="#">Photography</a></li>
	    <li><a href="#">Illustration</a></li>
	    <li><a href="#">Graphic Design</a></li>
	  </ul>
	</div>

	<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">	
		<div class="carousel-inner works">
			{{#each posts}}
				<div class="item" id={{no}}>
					<img src={{image}}>
					<p>{{question}}</p>
				</div>
			{{/each}}
		</div>
	</div>

	<div class="text-center">
		<button type="button" class="btn btn-primary">
		  	<a style="color:white" id="linkToGiveFeedback">Give Feedback</a>
		</button>
		<br>
		<br>
		<button type="button" class="btn btn-info" id="skip">
			<a style="color:white" href="#myCarousel" href="#myCarousel" role="button" data-slide="next">
			Skip</a>
		</button>
	</div>

  <div class="bottomNav" style="height: 5rem;">
    <a href="/main"><i class="fas fa-lg fa-home"></i></a>
    <a href="/history"><i class="fas fa-lg fa-history"></i></a>
    <a href="/upload"><i class="fas fa-lg fa-plus-square"></i></a>
  </div>

</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
