<html>
<head>
	<link href="css/index.css" rel="stylesheet"></link>
	<link href="css/profile.css" rel="stylesheet"></link>
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dconstruct</title>
</head>
<body>
<div class="container">
	<div class="topNav">
		<div class="heading">
			<a href="/"><h1>DCONSTRUCT</h1></a>
		</div>
		<div class="setting">
			<i class="fas fa-cog"></i>
		</div>
	</div>

    <h1 class="title">My Profile</h1>

	<main class="grid">
		    <img src="source/default_img.jpg"></img>
		    <img src="source/default_img.jpg"></img>
		    <img src="source/default_img.jpg"></img>
		    <img src="source/default_img.jpg"></img>
		    <img src="source/default_img.jpg"></img>
		    <img src="source/default_img.jpg"></img>
		    <img src="source/default_img.jpg"></img>
		    <img src="source/default_img.jpg"></img>
		    <img src="source/default_img.jpg"></img>
	</main>

	<div class="bottomNav">
		<div class="buttonContainer2">
			<a href="/history"><i class="fas fa-history"></i></a>
			<a href="/upload"><i class="far fa-plus-square"></i></a>
			<a href="/profile"><i class="fas fa-th"></i></a>
		</div>
	</div>
	
</div>
</body>
</html>
