<html>
<head>
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/upload.css" rel="stylesheet">



	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/upload.js"></script>
	<title>Dconstruct</title>
</head>
<body>
<div>
	<nav class="navbar fixed-top topNav navbar-light bg-light">
		<a class="dconstruct"  href="#" >
			<img src="source/D.png" id="s-logo" width="30" height="30"/>
			<a href="/profile"><i class="profile fas fa-user fa-lg"></i></a>
			<i class="profile2 fas fa-star fa-lg"> 3</i>
		</a>
	</nav>

	<form id="newPost" role="form" method="get" action="/uploadPost">
	<span class = "upload-wrapper">
	    <input type= "file" class = "file-upload" accept = "image/*" id = "inpImg" onchange = "inputImg(this);" name="imageURL">
	    <input type="button" id = "removeButton" onclick = "deleteImg(this);">
	    <a onclick = "removeFile()" id = "dltButton"><i class="fas fa-times-circle rmv_initial" style="color: red"></i></a>
	    <a onclick = "inputFile()" id = "imgButton"><img class = "imgPreview" id ="preview" src = "source/images/default.jpg" height="200" width="200"></a>
	</span>
	<br>
	  <div class="form-group text-center">
	    <label for="textResponse1">Input your Question Here:</label>
	    <input class="form-control" id="textResponse1" rows="2" name="question"></input>
	    <br>
	  <button type="submit" class="btn btn-primary" >
	  	<a style="color:white">Upload Post</a></button>
	  </div>
	</form>

	<div class="dropdown text-center">
	  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdown">Photography</button>
	  <ul class="dropdown-menu dropdown-menu-center" >
	    <li><a href="#" id="photography">Photography</a></li>
	    <li><a href="#" id="illustration">Illustration</a></li>
	    <li><a href="#" id="graphicdesign">Graphic Design</a></li>
	  </ul>
	</div>

	<br>

	<div class="dropdown text-center">
	  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdown">PROMPT</button>
	  <ul class="dropdown-menu dropdown-menu-center" >
	    <li><a href="#" id="photography">PROMPT 2</a></li>
	    <li><a href="#" id="illustration">PROMPT 2</a></li>
	    <li><a href="#" id="graphicdesign">PROMPT 2</a></li>
	  </ul>
	</div>
		
	<!--
	{{#each userPosts}}
		<div id={{no}}>
			<img class="upload-wrapper" src={{image}}>
			<p>{{question}}</p>
		</div>
	{{/each}}
	-->

	{{!-- keep all the data above the bottom nabvar --}}
	<div class="bottomMargin">

	</div>
	<div class="bottomNav" style="height: 5rem;">
		<a href="/main"><i class="fas fa-lg fa-home"></i></a>
		<a href="/history"><i class="fas fa-lg fa-history"></i></a>
		<a href="/upload"><i class="fas fa-lg fa-plus-square"></i></a>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
