.title{
    color: #7F867B;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
    vertical-align: middle;
}

.feedbackType {
	background-color: #FFF2DE;
	width: 250px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 25px;
	border: solid 2px #7F867B;
    border-radius: 5px;
    color: #7F867B;
}


.subBody a{
	display: flex;
	justify-content: center;
}

.subBody p{
	text-align: center;
}

.category {
	text-align: center;
}