h1 {
	margin-bottom: 0;
}
h2 {
	font-family: "Montserrat"
}
.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
    vertical-align: middle;
}

.feedbackType {
	background-color: #FFF2DE;
	width: 250px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 25px;
	border: solid 2px #7F867B;
    border-radius: 5px;
    color: #7F867B;
}


.subBody a{
	display: flex;
	justify-content: center;
}

.subBody p{
	text-align: center;
}

.category {
	text-align: center;
}


#rateFB {
	display: flex;
	justify-content: space-between;
	width: 20rem;
	align-items: center;
	margin: 0;
	margin-bottom: 1rem;
}


#rateFB .rating{
	margin-top: auto;
	width: 8rem;
	height: 3rem;
}

#rateFB .myBtn {
	margin-top: auto;
	width: 8rem;
	height: 3rem;
}


.ratingSubmit button{
	position: relative;
	margin-top: 5px;
}

.receivedStars {
    display: flex;
	justify-content: space-between;
	width: 20rem;
	align-items: center;
}

.receivedStars i{
	margin-left: 0.5rem;
	color: green;
}

.card-body {
	width: 23rem;
}

#popoverSent {
	position: relative;
	left: 300px;
	top: -20px;
}

#popoverReceived {
	position: relative;
	left: 340px;
	top: -20px;
}
/* PageA only */
.ratingA {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.ratingA i{
	position: relative;
	top: 10px;
	width: 10px;
    height: 10px;
}

.givenStars {
	width: 20rem;
	display: flex;
	justify-content: right;
}
.givenStars {
	margin-left: 13rem;
}
.givenStars i {
	margin-left: 0.5rem;
	color: red;
}