html {
    overflow: hidden;
    background-size: cover;
    height: 100%;
}

body {
    font-family: 'Montserrat';
    height: 100%;
    overflow: auto;
    margin: 0;
}

hr {
    border-top: solid 2px;
}

br {
    line-height: 1rem;
}
h1 {
    font-family: "Montserrat";
}

h2 {
    text-align: center;
    color: white;
    background-color: #516a9e;
    font-size: 2rem;
}
a {
    font-family: "Montserrat";
}
.container{
    background-color: #516a9e;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

#login {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #516a9e; /* Just to visualize the extent */
    margin: auto;
    text-align: center;
}

.topNav{
    height: 3rem;
    background-color: #516a9e !important;
    display: flex;
    align-items: center;
    color: #ffffff !important;
    vertical-align: middle;
    position: fixed; 
}


#s-logo{
    width: 3rem !important;
    height: 3rem !important;
}

.dconstruct{
    margin: auto;
}

.profile{
  position: absolute;
  top: 17px;
  right: 17px;
}

.profile2{
  position: absolute;
  top: 17px;
  left: 17px;
}

.left{  
    margin-right: auto;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.right{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.right i{
    margin-left: 1.5rem;
}
.topInfo{
    padding: 0.5rem;
    height: 3rem;
}

.topInfo p{
    float: right;
    color: #ff7d6c;
}
.works{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 250px;
    border: 0.01em solid black;
    border-radius: 5%;
}

.works2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: auto;
    display: block;
    width: 100px;
    height: 100px;
    border: 0.01em solid black;
    border-radius: 5%;
    vertical-align: middle;
}

#categoryDropdown {
    margin-top: 2rem;
}
.myBtn {
    width: 15rem;
    background-color: #ff7d6c;
    color: white;
}

.myBtn-hollow {
    width: 12rem;
    background-color: transparent;
    color: #ff7d6c;
    border: solid 1px #ff7d6c;
}

.myBtn-hollow-long {
    width: 12rem;
    background-color: transparent;
    color: #ff7d6c;
    border: solid 1px #ff7d6c;
    width: 100%;
}
.dropdown-menu {
    color: #516a9e;
}
.myForm {
    color: #ff7d6c;
}
.myInput {
    border-color: #ff7d6c;
}

.marginTop {
    margin-top: 3rem;
}

.buttonContainer a{
    margin: 10px auto;
    padding: 0.5rem;
    display: block;
    border: solid 2px #ff7d6c;
    border-radius: 5px;
    width: 10rem;
    text-align: center;
    color: #ff7d6c;
}

.buttonContainer button{
    margin: 10px auto;
    padding: 0.5rem;
    display: block;
    border: solid 2px #ff7d6c;
    border-radius: 5px;
    width: 10rem;
}

.buttonContainer p{
    text-align: center;
    color: #ff7d6c;
}

/* Dummy divs */
.topper{
    height: 5rem;
    background-color: #516a9e;
}
.footer{
    height: 10rem;
    background-color: #516a9e;
}


/* Star balance */
.starbalance{
    overflow: hidden;
    background-color: #D4C8BE;;
    position: fixed; 
    bottom: 3rem; 
    width: 100%; 
    color: #AF9F84;
    font-size: 20px;
    vertical-align: middle;
}

.starcenter{
    height: 3rem;
    width: 60%;
    margin: auto;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

.starcenter p{
    margin-left: 0.6rem;
}

.starcenter .right p{
    font-weight: 800;
}
.fa-star{
    color: rgb(153, 134, 102);
}
/* Navigation bar */
.bottomNav{
    height: 3rem;
    overflow: hidden;
    background-color: #516a9e;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    
}


.bottomNav a{
    float: center;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px 15px;
    text-decoration: none;
}

.bottomNav a:hover {
    background: #ddd;
    color: #445a87;
}

.bottomMargin {
    height: 5rem;
}

.topMargin {
    height: 5rem;
}

.title{
    color: #516a9e;
}


form { 
    margin: 0 auto; 
    width: 300px;
}

form #submit{
    margin: auto;
}
h1{
    text-align: center;
}

/* For link */
a {
    text-decoration: none;
    color: #ff7d6c;
}


/* Login Page */
#welcome{
    margin-bottom: 0.5rem;
}

#subwelcome{
    margin-bottom: 2rem;
    width: 350;
    margin-left: auto;
    margin-right: auto;
    color: #ff7d6c;
}

#logo{
    width: 300px;
    height: 150px;
    margin-top: 80px;
    margin-bottom: 10px;
}

#submitBtn{
    margin-bottom: 10px;
}
.dropdown-menu-center {
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.nav-item {
    background-color: white !important; 
    color: #ff7d6c !important;
    border: solid 0px !important;
    font-size: 2rem;
  
}

.nav-item .active{
    background-color: white !important; 
    color: #ff7d6c !important;
    border: solid 3px #ff7d6c!important;

}
