.title{
    color: #7F867B;
}

.grid { 
	margin-left: 300px;
	margin-right: 300px;
	display: grid;	
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 35px;
	justify-items: center;
	padding-bottom: 50px;
}

.grid img {
  border: 10px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}