.upload-wrapper{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
}

input[type="file"]{
	display: none;
}

input[type="button"]{
	display: none;
}
.imgPreview{
	border-radius: 5px;
}

i.rmv_initial{
	display: none;
}
i.rmv_final{
	position: absolute;
	display: inline-block;
	margin: 4px 175px;
	border-radius: 10px;
	background-color: white;
}

a.disabled{
	pointer-events: none;
	cursor: default;

}

p {  
	text-align: center;
}
label {
	color: #516a9e;
}

#popover {
	position: absolute;
	top: 360px;
	left: 260px;
}